body {
  margin: 0;
  background-color: white;
}

/******** HOME COMPONENT *********/
.heading-box {
  height: 80vh;
  background-color: peru;
  background-size: cover;
  background-position: top;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
}

.heading {
  /* text-align: center; */
  position: absolute;
  /* top: 40%; */
  /* left: 20%; */
  transform: translate(0%, 100%);
}

.name {
  margin: 20px;
  font-size: 4em;
  line-height: 1.3;
  display: block;
  letter-spacing: 0.4rem;
  /* animation: leftIn 0.75s ease-out; */
  font-weight: 600;
}
.title {
  margin: 20px;
  font-size: 2em;
  display: block;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  /* animation: rightIn 0.75s ease-out; */
}

.header-btns {
  width: 8em;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 400;
}

.header-btns-div {
  margin: 10px;
}
/******** PROJECT COMPONENT *********/

.project-container {
  padding: 20px;
  background-color: white;

  /* justify-content: center; */
}
.project-div {
  padding: 20px;
  background-color: white;

  /* justify-content: center; */
}
.project-title {
  font-size: 1.6em;
  display: block;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.skills-used {
  display: flex;
  justify-content: center;
}
.skills-used span {
  display: flex;
  justify-content: center;
  margin-right: 6px;
  padding: 2px;
  font-size: 0.9em;
  font-weight: 700;
  background-color: grey;
  color: white;
  min-width: 80px;
  height: 35px;
  align-items: center;
}
.proj-views span {
  display: flex;
  justify-content: center;
  border: 2px solid peru;
  background-color: white;
  font-weight: 600;
  color: peru;
  width: 120px;
  height: 33px;
  align-items: center;
}

.collaborator {
  padding-top: 10px;
  font-size: 1em;
  font-weight: 700;
  display: block;
  font-weight: 600;
}

/******** SKILlS COMPONENT *********/
/* .skills-box {
  /* height: 80vh; */
/* background-color: peru; */
/* background-size: cover; */
/* background-position: top; */
/* clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%); 
} */
.skills-div {
  padding: 20px;
  /* margin-top: 20%; */
  background-color: blueviolet;
  justify-content: center;
  width: 180px;
}

.skills-div span {
  display: flex;
  justify-content: center;
}

.contact-div {
  padding: 20px;
  width: 650px;
}

.socials-div {
  background-color: blueviolet;
  height: 70px;
  bottom: 0px;
}

/******** ABOUT COMPONENT *********/
.resume {
  display: flex;
  justify-content: center;
}
.resume span {
  display: flex;
  justify-content: center;
  border: 2px solid peru;
  background-color: white;
  font-weight: 600;
  color: peru;
  width: 120px;
  height: 33px;
  align-items: center;
}
